.CountryDetail-back {
  margin-top: 4rem;  
  width: 100vw;
  @extend %width-controller;

  a {
    display: inline-block;
    font-size: 1.3rem;
    padding: .5rem 2.5rem;
    @extend %box-shadow--gray;
    @extend %rounded-box;    

    background-color: var(--element-background-color);
  }
}

.CountryDetail {
  margin-top: 4rem;
  width: 100vw;
  @extend %width-controller;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (min-width: $bp-small) {
    flex-direction: row;
  }
}

.CountryDetail {
  &--wrapper {
    margin-top: 2rem;
    @media screen and (min-width: $bp-small) {
      margin-top: 0;
      margin-left: 10vw;
    }
  }

  &-flag {
    width: 30rem;
    height: 20rem;
    object-fit: cover;
    @media screen and (min-width: $bp-medium) {
      width: 30vw;
      height: 20vw;
    }
  }

  &-title {
    font-size: 2rem;
  }

  &-list {
    margin-top: 2rem;
    @media screen and (min-width: $bp-small) {
      columns: 2;
      column-gap: 6vw;      
    }

    .colSpan-2 {
      margin-top: 4rem;
      column-span: all;
      
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: .5rem;
      @media screen and (max-width: $bp-small) {
        & > span {
          width: 100vw;
        }
      }
    }
  }

  &-borders {
    font-size: 1.4rem;
    display: inline-block;
    margin-right: .5rem;
    padding: .25rem 2rem;
    @extend %box-shadow--gray;
    @extend %rounded-box;

    background-color: var(--element-background-color);
  }
}