.CountryDetail-back {
  margin-top: 4rem;  
  width: 100vw;
  @extend %width-controller;

  a {
    display: inline-block;
    font-size: 1.3rem;
    padding: .5rem 2.5rem;
    @extend %box-shadow--gray;
    @extend %rounded-box;    
  }
}

.CountryDetail {
  margin-top: 4rem;
  width: 100vw;
  @extend %width-controller;

  display: flex;
  align-items: center;
}

.CountryDetail {
  &--wrapper {
    margin-left: 10vw;
  }

  &-flag {
    width: 30vw;
    height: 20vw;
    object-fit: cover;
  }

  &-title {
    font-size: 2rem;
  }

  &-list {
    margin-top: 2rem;
    columns: 2;
    column-gap: 6vw;

    .colSpan-2 {
      margin-top: 4rem;
      column-span: all;
      
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: .5rem;
    }
  }

  &-borders {
    font-size: 1.4rem;
    display: inline-block;
    margin-right: .5rem;
    padding: .25rem 2rem;
    @extend %box-shadow--gray;
    // @extend %rounded-box;
    border-radius: 2px;
  }
}