.CountryDetail-back {
  margin-top: 4rem;  
  width: 100vw;
  @extend %width-controller;

  a {
    display: inline-block;
    font-size: 1.3rem;
    padding: .5rem 2.5rem;
    @extend %box-shadow--gray;
    @extend %rounded-box;    

    background-color: var(--element-background-color);
  }
}

.CountryDetail {
  margin-top: 4rem;
  width: 100vw;
  @extend %width-controller;

  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 10vw;
  @media screen and (min-width: $bp-medium) {
    flex-direction: row;
  }
}

.CountryDetail {
  &--wrapper {
    margin-top: 2rem;
    @extend %width-controller;
    @media screen and (min-width: $bp-medium) {
      margin-top: 0;
      padding: 0;
      max-width: 500px;     
    }
  }

  &-flag {
    width: 300px;
    height: 200px;
    object-fit: cover;
    @media screen and (min-width: $bp-medium) {
      width: 30vw; 
      height: 20vw;   
    }
  }

  &-title {
    font-size: 2rem;
  }

  &-list {
    margin-top: 2rem;
    @media screen and (min-width: $bp-medium) {
      columns: 2;
      column-gap: 6vw;      
    }

    li {
      margin: 1rem 0;
    }

    .colSpan-2 {
      margin-top: 4rem;
      column-span: all;
      
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem .5rem;

      & > span {
        @media screen and (max-width: $bp-small) {
          flex: 100vw;
        }        
      }
    }
  }

  &-borders {
    font-size: 1.4rem;
    display: inline-block;
    margin-right: .5rem;
    padding: .4rem 2rem;
    @extend %box-shadow--gray;
    @extend %rounded-box;

    background-color: var(--element-background-color);
  }
}