.Header {
  width: 100vw;
  height: 70px;
  @extend %width-controller;
  @extend %box-shadow--gray;
  background-color: var(--element-background-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-title {
  font-size: 2rem;
}

.Header-toggle {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  position: relative;

  &-label {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    column-gap: 5px;
    font-weight: $semi-bold;
    svg {
      align-self: center;
      path {
        color: inherit;
      }
    }
  }
}

.screen-reader-only {
  position: absolute;
  clip: rect(0 0 0 0);
}