// COLORS
$dark-blue: hsl(209, 23%, 22%); // (Dark Mode Elements)
$very-dark-blue: hsl(207, 26%, 17%); // (Dark Mode Background)
$very-dark-blue: hsl(200, 15%, 8%); // (Light Mode Text)
$dark-gray: hsl(0, 0%, 52%); // (Light Mode Input)
$very-light-gray: hsl(0, 0%, 98%); // (Light Mode Background)

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
$font-default: 'Nunito Sans', sans-serif;
$font-light: 300;
$font-semi-bold: 600;
$font-extra-bold: 800;

// BREAKPOINTS
$bp-small: 480px;
$bp-medium: 720px;
$bp-large: 1200px;
$bp-largest: 1440px;